body {
    // font-family: SukhumvitSet-Medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
	color: white;
}

.heading { 
	&--primary {
    	font-size: 2.5rem;
	}

	&--secondary {
		color: $color-red;
    	font-size: 2rem;
    	font-weight: 600;
    	display: inline-block;
		text-align:start;

		@include respond(phone) { 
			font-size: 1rem;
		}
	}
}

.paragraph {
    &--large {
        font-size: 1.5rem;
    }
}

a {
    text-decoration: none;
	cursor: pointer;
}
